.my-header {
    width: 550px;
    height: 450px;
    background-color: blue;
}

.ball {
    width: 25px;
    height: 25px;
    background-color: white;
}

.pai {
    width: 600px;
    height: 400px;
    background-color:powderblue;
}

.filho {
    width: 550px;
    height: 150px;
    background-color: rgb(152, 117, 152);

    bottom: -75px;
    left: 0;
    right: 0;
    

    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

